{% extends "base.html" %}
{% block content %}


{% if title == 'Exception' %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Caught an Exception!</h1>
    <p class="lead">check Silica logs for additional details</p>
    
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>

  </div>
</div>
{% endif %}

{% if title == '404 Error' %}
<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404 Error</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">no such page available</p>
    <a href="{{ url_for('index')}}">&larr; Back to Silica</a>
</div>
{% endif %}

{% endblock %}