<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Silica - Login</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10 col-md-6">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0" style="align:center">

            <div style="height:50px"></div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
              <div class="alert alert-warning" role="alert" style="max-width:800px">{{ message }}</p>
              </div>
                {% endfor %}      
              {% endif %}
            {% endwith %}

            {% if session['logged_in'] %}
            <p>You're logged in already!</p>
            {% else %}
            <div class="page-header">
              <div class="jumbotron" style="max-width: 800px">
                <form action="{{ url_for('login') }}" method="POST">
                <h3>Silica Login</h3>
                <br><br>
                
                  {{ form.csrf_token }}
                  {{ form.hidden_tag() }}
                  {{ form.username.label }} {{ form.username(size=20) }} &nbsp;&nbsp; 
            

                  {{ form.password.label }} {{ form.password(size=20) }} &nbsp;&nbsp; 
                  {% for error in form.password.errors %}
                    <span style="color: red;">* {{ error }}</span>
                  {% endfor %}
                  <br>
                  <p>
                  {% if form.errors %}
                  {{ form.errors }}
                  {% endif %}

                  <div style="font-size:10pt">{{ form.remember_me() }} {{ form.remember_me.label }}</div>

                  </p>

                  {{ form.submit(class_="btn btn-primary btn-small") }}
          
                </form>
              </div>
            </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

</body>
</html>

