{% extends "base.html" %}

{% block content %}

<!-- BREADCRUMB -->
<div class="btn btn-secondary btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Silica > Add New User</span>
</div>




<br>
<br>


<!-- Main content -->
<div class="main-content">
       <!-- Begin Page Content -->
        <div class="container-fluid">

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}      
          {% endif %}
        {% endwith %}

          <div class="col-md-8 col-md-offset-3">
            <div class="card shadow mb-6">
              <div class="card-body">
            <form action="{{ url_for('add_user') }}" method="POST">
              {{ form.csrf_token }}
              {{ form.hidden_tag() }}
              <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="2">New User</th>
                </tr>
              </thead>
              <tbody>
               
                <tr>
                  <td>{{ form.username.label }}</td>
                  <td>{{ form.username(size=20) }}</td>
                </tr>
                <tr>
                  <td>{{ form.password1.label }}</td>
                  <td>{{ form.password1(size=20) }}</td>
                </tr>
                <tr>
                  <td><p class="text-gray-500 mb-0">Re-enter password</p><br>
                  {{ form.password2.label }}</td>
                  <td><br><br>{{ form.password2(size=20) }}</td>
                </tr>
                <tr>
                  <td>{{ form.email.label }}</td>
                  <td>{{ form.email(size=20) }}</td>
                  {% if form.email.errors %}
                  {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                  {% endfor %}</ul>
                  {% endif %}
                </tr>
                <tr>
                  <td>{{ form.admin.label }}</td>
                  <td>{{ form.admin }}</td>
                </tr>
                <tr>
                  <td colspan="2" align="center">{{ form.submit(class_="btn btn-primary btn-small") }}</td>
                </tr>
              </tbody>
            </table>
            </form>
              </div>
            </div>
          </div>


        </div>
        <!-- /.container-fluid -->
</div> <!-- /main content -->

{% endblock %}



