<!-- Nav Item - Dashboard -->
<li class="nav-item active">
<a class="nav-link" href="{{ url_for('dashboard') }}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
Saltstack actions
</div>

<!-- Nav Item - Pages Collapse Menu -->
{% if nav == 'run_cmd' %}
<li class="nav-item active">
{% else %}
<li class="nav-item">
{% endif %}
<a class="nav-link" href="{{ url_for('run_cmd') }}">
    <i class="fas fa-fw fa-terminal"></i>
    <span>Execute Cmd</span>
</a>
</li>

{% if nav == 'highstate' %}
<li class="nav-item active">
{% else %}
<li class="nav-item">
{% endif %}
<a class="nav-link" href="{{ url_for('highstate') }}">
    <i class="fas fa-fw fa-chevron-circle-up"></i>
    <span>Highstate</span>
</a>
</li>

{% if nav == 'minions' %}
<li class="nav-item active">
{% else %}
<li class="nav-item">
{% endif %}
<a class="nav-link" href="{{ url_for('minion_status') }}">
    <i class="fas fa-fw fa-cubes"></i>
    <span>Minions</span>
</a>
</li>


<li class="nav-item">
<a class="nav-link" href="#">
    <i class="fas fa-fw fa-flask"></i>
    <span>Formulas</span>
</a>
</li>


{% if nav == 'generator' %}
<li class="nav-item active">
{% else %}
<li class="nav-item">
{% endif %}
<a class="nav-link" href="{{ url_for('generator') }}">
    <i class="fas fa-fw fa-database"></i>
    <span>Sync DB</span>
</a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - DOCS -->
{% if nav == 'docs' %}
<li class="nav-item active">
<a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDocs" aria-expanded="true" aria-controls="collapseDocs">
    <i class="fas fa-fw fa-book"></i>
    <span>Docs</span>
</a>
<div id="collapseDocs" class="collapse show" aria-labelledby="headingDocs" data-parent="#accordionSidebar">
{% else %}
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocs" aria-expanded="true" aria-controls="collapseDocs">
    <i class="fas fa-fw fa-book"></i>
    <span>Docs</span>
</a>
<div id="collapseDocs" class="collapse" aria-labelledby="headingDocs" data-parent="#accordionSidebar">
{% endif %}
    <div class="bg-white py-2 collapse-inner rounded">
    <a class="collapse-item" href="{{ url_for('cheatsheet') }}">Salt Cheatsheet</a>
    <a class="collapse-item" href="https://docs.saltstack.com/en/2018.3/contents.html" target="_new">Official Docs</a>
    <a class="collapse-item" href="https://docs.saltstack.com/en/2018.3/ref/modules/all/index.html#all-salt-modules" target="_new">Execution Modules</a>
    <a class="collapse-item" href="https://docs.saltstack.com/en/2018.3/ref/states/all/index.html#all-salt-states" target="_new">State Modules</a>
    </div>
</div>
</li>

<!-- Nav Item - CONFIGURATION -->
<li class="nav-item">
<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConfig" aria-expanded="true" aria-controls="collapseConfig">
    <i class="fas fa-fw fa-wrench"></i>
    <span>Configuration</span>
</a>
<div id="collapseConfig" class="collapse" aria-labelledby="headingConfig" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
    <h6 class="collapse-header">Silica Config:</h6>
    <a class="collapse-item" href="{{ url_for('add_user') }}">Users</a>
    </div>
</div>
</li>

<br>
<br> 
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
<!-- End of Sidebar -->